/*{#    adds the following fonts to your site:#}*/
/*{#    font-family: 'Alegreya Sans SC', sans-serif;#}*/
/*{#    font-family: 'Lato', sans-serif;#}*/
/*{#    font-family: 'Josefin Sans', sans-serif;#}*/
/*{#    font-family: 'Raleway', sans-serif;#}*/



#title h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    font-size: 5.0vw;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.button-xlarge {
       font-size: 200%;
       font-family: 'Raleway', sans-serif;
       border-radius: 2.5vw;
       border:5;
       background: transparent;
       border: none;
        }

#search_button {
    opacity: 0.7;
    border-width:0.5;
    border-style:solid;
    font-size: 3.0vw;
    font-family: 'Raleway', sans-serif;
}


h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    font-size: 3.0vw;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

a {
    font-weight:bold;
    text-decoration: none;
}

img {
    height:80%;
    width:80%;
}

#wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    align-content: center;
}

#title {
    text-align: center;
    vertical-align: middle;
    position:relative;
}

.button-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
        }

hr {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    width:50%;
}


/*table {*/
    /*margin-left:auto;*/
    /*margin-right:auto;*/
    /*width: 40%;*/
    /*font-family: 'Raleway', sans-serif;*/
    /*font-size: 30px;*/
/*}*/

/*td {*/
    /*text-align: left;*/
    /*padding:400px;*/
/*}*/


table a:link {
	color: #666;
	font-weight: bold;
	text-decoration:none;
}
table a:visited {
	color: #999999;
	font-weight:bold;
	text-decoration:none;
}
table a:active,
table a:hover {
	color: #bd5a35;
	text-decoration:underline;
}
table {

    /*source: http://johnsardine.com/freebies/dl-html-css/simple-little-tab/*/

    font-family: 'Raleway', sans-serif;
    font-size: 30px;
	color:#666;
	text-shadow: 1px 1px 0px #fff;
	background:#eaebec;
	margin:20px;
	border:#ccc 1px solid;
    width:70%;
    position:relative;

	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;

	-moz-box-shadow: 0 1px 2px #d1d1d1;
	-webkit-box-shadow: 0 1px 2px #d1d1d1;
	box-shadow: 0 1px 2px #d1d1d1;
}
table th {
	padding:21px 25px 22px 25px;
	border-top:1px solid #000000;
	border-bottom:1px solid #000000;
	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
	background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}
table th:first-child {
	text-align: left;
	padding-left:20px;
}
table tr:first-child th:first-child {
	-moz-border-radius-topleft:3px;
	-webkit-border-top-left-radius:3px;
	border-top-left-radius:3px;
}
table tr:first-child th:last-child {
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
	border-top-right-radius:3px;
}
table tr {
	text-align: center;
	padding-left:20px;
}
table td:first-child {
	text-align: left;
	padding-left:20px;
	border-left: 0;
}
table td {
	padding:18px;
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;

	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
	background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
table tr.even td {
	background: #f6f6f6;
	background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
	background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
table tr:last-child td {
	border-bottom:0;
}
table tr:last-child td:first-child {
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
	border-bottom-left-radius:3px;
}
table tr:last-child td:last-child {
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
	border-bottom-right-radius:3px;
}
table tr:hover td {
	background: #f2f2f2;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
	background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);
}

/* Modal styles */
#login_modal, #register_modal, #search {
    font-family: 'Raleway', sans-serif;
    font-size:2.0vw;
}

.picture {
    background-color: #eeeeee;
    height: 35.5vw;
    width: 60%;
    background-image: url('http://31.media.tumblr.com/d851e225242e4d90baada35ba4d996f5/tumblr_n7yif13ZKl1st5lhmo1_1280.jpg');
    /*background-image: url('https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xfp1/t1.0-9/10429285_10152624827826894_3236733174255165163_n.jpg');*/
    display: inline-block;
}

li {
    font-size: 20px;
    width:300px;
}

.button {
    width:20.0vw;

}

.survey_button {
    font-size:30px;
}

#login {
    opacity:0.6;
    font-family: 'Raleway', sans-serif;

}

.option {
    font-family: 'Raleway', sans-serif;
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.4285
    color: #333;
    white-space: nowrap;
}

.modal-footer {
    font-size: 3.0vw;
}

form {
    margin-left:auto;
    margin-right:auto;
    width: 50%;
}
span {
    font-size:30px;
    font-family: 'Raleway', sans-serif;
    width:200px;
    font-weight:lighter;
}

.modal-title {
    font-size:30px;
    font-family: 'Raleway', sans-serif;
}

body {
    font-size:3.0vw;
    font-family: 'Raleway', sans-serif;
}

#results {
    display:none;
}
