<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
    <link href='http://fonts.googleapis.com/css?family=Alegreya+Sans+SC:100|Lato:100|Josefin+Sans|Raleway:100' rel='stylesheet' type='text/css'>

{# the following fonts were added from google's font family'#}
{#    adds the following fonts to your site:#}
{#    font-family: 'Alegreya Sans SC', sans-serif;#}
{#    font-family: 'Lato', sans-serif;#}
{#    font-family: 'Josefin Sans', sans-serif;#}
{#    font-family: 'Raleway', sans-serif;#}

</head>
<body>

<p style="font-family: 'Alegreya Sans SC', sans-serif">Hello, this is the base</p>

{% block content %}
{% endblock %}

</body>
</html>