{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>RA</title>

    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
    <link href='http://fonts.googleapis.com/css?family=Raleway:100,400' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">

    <script type="text/javascript" src="static/js/script.js"></script>
    <script type="text/javascript" src="static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/floatthead/1.2.8/jquery.floatThead.min.js"></script>
{#    <script src="static/js/sorttable.js" type="text/javascript"></script>#}







{# the following fonts were added from google's font family'#}
{#    adds the following fonts to your site:#}
{#    font-family: 'Alegreya Sans SC', sans-serif;#}
{#    font-family: 'Lato', sans-serif;#}
{#    font-family: 'Josefin Sans', sans-serif;#}
{#    font-family: 'Raleway', sans-serif;#}

</head>

<body>

<br>
<br>

    <center>
        <div class="container-fluid">
            <div class="row">
                <div class="picture">
                    <div id="title">
                        <br>
                        <h1>retire-abroad.com</h1>

                        <br><br><br><br><br><br><br>
                        <button id="search_button" type="button" class="button-xlarge pure-button" data-toggle="modal" data-target="#search">
                        search
                        </button>

                    </div>
                    </div>
                </div>
            </div>

        <br>
        <p style="font-size: 10px; font-family: 'Raleway'">Powered by <a href = "http://nomadlist.io/">NomadList</a> and <a href = "http://www.numbeo.com/health-care/gmaps_rankings_country.jsp">Numbeo</a>&#0153;</p>
        </div>

        <br>

        <div class="container-fluid">
            <button class="button-xlarge pure-button" data-toggle="modal" data-target="#register_modal">
                <span class="glyphicon glyphicon-saved"><br>save</span>
{#                <span class="glyphicon glyphicon-ok-circle"><br>register</span>#}
                </button>
            <button class="button-xlarge pure-button" data-toggle="modal" data-target="#login_modal">
                <span class="glyphicon glyphicon-hand-up"><br>login</span>
                </button>
            <button class="button-xlarge pure-button" onclick="move_to_about()" id="#aboutButton">
                <span class="glyphicon glyphicon-edit"><br>about</span>
                </button>


        </div>



        <center>


<!-- Register Modal -->
<div class="modal fade" id="register_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">register to save!</h4>
      </div>
      <div class="modal-body">

          <form action="/your-name/" method="post">

                <label for="your_name">Username: </label><br>
                <input id="your_name" type="text" name="your_name" value="John Doe">

                <br>

                <label for="your_name">Email: </label><br>
                <input id="your_name" type="text" name="your_name" value="John.Doe@gmail.comm">

                <br>

                <label for="your_name">Password: </label><br>
                <input id="your_name" type="password" name="your_name" value="{{ password }}">

                <br>

                <label for="your_name">Password (again): </label><br>
                <input id="your_name" type="password" name="your_name" value="{{ password }}">

          </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">CLOSE</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">REGISTER</button>
      </div>
    </div>
  </div>
</div>


<!-- Login Modal -->
<div class="modal fade" id="login_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">login</h4>
      </div>
      <div class="modal-body">

          <form action="/your-name/" method="post">
                <label for="your_name">Email: </label><br>
                <input id="your_name" type="text" name="your_name" value="John Doe">
                <br>

                <label for="your_name">Password: </label><br>
                <input id="your_name" type="password" name="your_name" value="{{ password }}">

          </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">CLOSE</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">LOGIN</button>
      </div>
    </div>
  </div>
</div>

{#<--search modal---->#}

<div class="modal fade" id="search" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span><span class="sr-only">CLOSE</span></button>
        <h1 class="modal-title" id="myModalLabel">SEARCH</h1>
      </div>

        <div class="modal-body">


{#<!---variables to get below ----!>#}

              <p>Approximate income / yr:</p>
                 <select id = "incomeStuff" class="form-control" style="font-size: 30px; width:400px; height:70px; ">
                    <option value="1">$10 - 20K</option>
                    <option value="2">$20 - 40K</option>
                    <option value="3">$40 - 60K</option>
                    <option value="4">$80 - 100K</option>
                    <option value="5">$100K+</option>
                </select>

              <br>

              <p>Climate:</p>
                 <select id="climateStuff" class="form-control" style="font-size: 30px; width:400px; height:70px; ">
                    <option value="moderate">Moderate</option>
                    <option value="warm">Warm</option>
                    <option value="cool">Cool</option>
                </select>

               <br>

              <p>Internet speed:</p>
                 <select id="internetStuff" class="form-control" style="font-size: 30px; width:400px; height:70px; ">
                     <option value="who_cares">Whatever</option>
                    <option value="recreational">Medium</option>
                    <option value="critical">Fast</option>

                </select>

                <br>

          <div class="modal-footer">

            <form action = "search.html" method = "get">

            </form>
            <button type="button" class="btn btn-default survey_button" data-dismiss="modal">Close</button>
            <button type="button" id="searchButtonBlah" onclick="actually_filter_the_cities();" class="btn btn-primary survey_button" data-dismiss="modal">Search</button>

          </div>

        </div>

    </div>

    {#<!---------------------!>#}

    </div>
</div>
    <div id="citiesTable">
        <table class="sortable">
            <thead>
                <tr style='font-size:1.3vw;'>
                <th>City Name</th>
                <th>Cost<sup>*</sup> ($)</th>
                <th>Net Speed (mbps)</th>
                <th>Today's Temp (F)</th>
                <th>Healthcare Index</th></tr>
            </thead>
            <tbody id="search_results_table">

            </tbody>
        </table>
    </div>

<br><br><br>
<br><br><br><br><br><br>
    <div style="text-align: center" id="about">
        <h1>About</h1>
        <p>Finally, a place to explore your retirement options.<br>
        <p>No more months of searching to find a cost-effective, suitable location.</p>
        <p>Retire-abroad helps you effortlessly explore reasonable places to retire, in seconds.</p>
        <p>We aggregate most important factors for retirement and does an in depth search of possible places, one of which could be your next home.</p>

    </div>
<br><br><br><br><br>
            <div id="costDef"></div>

        </center>
        </center>
</body>
</html>